.
..
.bash_history
.bash_logout
.cache
.config
Desktop
Documents
dotnet
.dotnet
Downloads
.fehbg
.git
.gitconfig
.gnupg
.ICEauthority
.irssi
.lesshst
.local
.mozilla
Music
.nicotine
.nuget
.omnisharp
Pictures
.pki
.profile
Public
.templateengine
Templates
.thumbnails
.tmux.conf.old
Videos
.vim
.viminfo
.vscode
.Xauthority
.xfce*
.xsession*
.dmrc
