*.termName: xterm-color256

XTerm*selectToClipboard: true

*vt100*translations: #override \n\
 Ctrl <Key> KP_Subtract: smaller-vt-font() \n\
 Ctrl <Key> minus: smaller-vt-font() \n\
 Ctrl <Key> plus: larger-vt-font() \n\
 Ctrl <Key> KP_Add: larger-vt-font() \n\
 Ctrl Shift <Key> v: insert-selection(CLIPBOARD) \n\
 Ctrl Shift <Key> c: copy-selection(CLIPBOARD) \n\
 Ctrl Shift <Key> l: scroll-back(1) \n\
 Ctrl Shift <Key> k: scroll-forw(1) \n\

*.metaSendsEscape: true

! special
*.foreground:   #c5c8c6
*.background:   #2b303b
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff
